<!doctype html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="card">
      <h1>Check Weather.!</h1>
      <div class="search-box">
        <input
          type="text"
          id="city"
          placeholder="Enter city name"
          onkeypress="handleEnter(event)"
        />
        <button onclick="getWeather()">Search</button>
      </div>
      <div id="weather"></div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
